.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.button {
	background: none;
	color: inherit;
	border: 1px solid #000;
  border-radius: 5px;
	padding: 0 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 15px;
}

.link {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
}

.date {
  font-family: monospace;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
}
